<div class="container">
    <h1>Contacto!!!</h1>

<div id="textos" #textos>
  <p appResaltado>
    Esta es la pagina de contacto, puedes enviarnos cualquier duda
  </p>
</div>
    <!-- con gnModel selecciono un elemento del componente y modifico su valor  -->
    <!-- <input type="number" [(ngModel)]="widthSlider">
    <button (click)="cargarSlider()">Cargar Slider</button>
    <button (click)="resetearSlider()">Resetear Slider</button>
    <div *ngIf="anchuraToSlider">
      <app-slider [anchura]="anchuraToSlider"
                  [etiquetas]="captions"
                  (conseguirAutor)="getAutor($event)"></app-slider>
    </div>
    <div *ngIf="autor">
      {{autor.nombre + " " + autor.webside}}
    </div> -->
</div>