
<header>
  <ul>
    <li> <a [routerLink]="['/about']" [routerLinkActive]="['actived']" routerLinkActive="router-link-active" >Sobre mi</a></li>
    <li> <a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
    <li id="logo"><a href="#">FS</a></li>
    <li> <a [routerLink]="['/crear-proyectos']" [routerLinkActive]="['actived']">Crear proyecto</a></li>
    <li> <a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Portafolio Fabian Salazar
</footer>
